*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(194, 180, 23);
    
}

h1,h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    min-height: 10vh;
}
nav{
    display: flex;
    flex-wrap: wrap;
}
nav a{
    display: inline;
    text-transform: uppercase;
    color: #3a0eda;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin-left: 10px;

}
nav a:hover {
    color: #281b02;
    text-decoration: underline;
}
main{
    min-height: 75vh;
}
.container p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: inherit;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    
}
.carrousel-container{
display: flex; 
justify-content: center;   
    
}
.container-contacto{
    background-image: url("./img/paisaje.jpg");
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.productos{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productos img{
    width: 25%;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgb(16, 19, 19) ;
    gap: 3px;
    padding: 3px;
}
.img-slider{
    height: 300px;
    width: 350px;
    margin: 10px;
    border-radius: 5px;
    

}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    color: rgb(56, 73, 231);
    padding: 15px;
    top: 40%;
    margin-left: 35px;
    margin-right: 35px;
    transition: 0.5s ease;
    border-radius: 0 4px 4px 0;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
  }
  
.prev:hover, .next:hover {
    background-color: rgba(25, 56, 231, 0.8);
    color: rgb(218, 219, 228);
}
input{
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}
form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 40%;
    border-radius: 10px;
}
form label{
    font-size: 30px;
    font-weight: bold ;
}
.text-area{
    width: 30%;
}
.enviar{
    width: 25%;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    color:white;
    background: orange;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}
.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

.error{
    display: none;
    color: red;
}
footer{
    min-height: 15vh;
}

.container-redes{
    display: flex;
    margin: 30px;
    justify-content: center;
}

.copyright{
    color: blue;
    position: relative;
    top: 65px;
    left: 0;

    
}



